*.apk
*.ap_
*.dex
*.class
bin/
gen/
local.properties
proguard/
*.log
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
